body {
  position: relative;
  width: 360px;
  height: 640px;
}

/* Header tag properties */

.header {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.title_lo {
  margin-top: 50px;
  margin-left: 50px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

/* logo color and decoration */

.logo {
  color: #6070ff;
  text-decoration: none;
}

.logo:hover {
  color: blueviolet;
}

.fas {
  font-size: 20px;
  margin-left: 200px;
}

.fas:hover {
  color: #6070ff;
}

/* section */

.content-name {
  background-image: url('./src-image/header-shapes-mobile@2x.svg');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #dfe1e6;
  border-bottom-left-radius: 20px;
  border-top: none;
  border-right: none;
}

.my_name {
  width: 310px;
  padding-left: 24px;
  padding-top: 62px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.my_details {
  width: 336px;
  padding-left: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;

  /* Inside Auto Layout */

  margin: 12px 1px;
}

.more_det {
  padding-left: 23px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin: 1px 8px;
}

.media_icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  gap: 15px;
  left: 1px;
}

.twitter {
  left: 6.4%;
  right: 88.27%;
  top: 77.81%;
  bottom: 18.88%;
}

.medium {
  left: 27.47%;
  right: 67.2%;
  top: 78.15%;
  bottom: 19.21%;
}

.github {
  left: 38.13%;
  right: 57.07%;
  top: 77.81%;
  bottom: 18.87%;
}

.vact {
  left: 48%;
  right: 48.22%;
  top: 77.81%;
  bottom: 18.87%;
}

.work-card {
  display: grid;
  grid-template-rows: 38% 11% auto auto auto;
  justify-content: space-evenly;
  padding: 16px;
  width: 85%;
  height: 600px;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin-top: 90px;
  margin-left: 10%;
}

.work_img {
  background-image: url(src-image/Snapshoot-Portfolio.png);
  background-repeat: no-repeat;
  width: 290px;
}

.name-pro {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 1px;
  color: #172b4d;
}

.work_name2 {
  display: flex;
  flex-direction: row;
  height: 40px;
  list-style-type: circle;
  gap: 20px;
  padding-left: 10px;
}

.work-detail {
  display: grid;
  grid-auto-flow: column;
  margin-left: -32px;
}

.canopy {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  list-style: none;
}

.dev {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.year {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.detail-cls {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.button-desc {
  display: grid;
  justify-content: start;
  grid-auto-flow: column;
  list-style: none;
}

.htm {
  padding: 4px 12px;
  height: 20px;
  background: #ebebff;
  border-radius: 8px;
  color: #6070ff;
}

.htm:hover {
  color: blueviolet;
}

.css {
  padding: 4px 12px;
  height: 20px;
  background: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  margin-left: 10px;
}

.css:hover {
  color: blueviolet;
}

.javascript {
  padding: 4px 12px;
  height: 20px;
  background: #ebebff;
  border-radius: 8px;
  color: #7f8cff;
  margin-left: 10px;
}

.javascript:hover {
  color: blueviolet;
}

.see-project {
  width: 124px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background: white;
  color: #6d7bf8;
}

.see-project,
button:enabled {
  color: #6d7bf8;
}

button:active {
  background: #6070ff;
  color: white;
  border: 100px;
}

.work_img2 {
  background-image: url('src-image/SnapshootPortfolio1.png');
  background-repeat: no-repeat;
  width: 290px;
}

.work-n {
  line-height: 23px;
  font-size: 20px;
}

.work_img3 {
  background-image: url('src-image/Snapshoot-Portfolio2.png');
  background-repeat: no-repeat;
  width: 290px;
}

.work_img4 {
  background-image: url('src-image/Snapshoot\ -portfolio3.png');
  background-repeat: no-repeat;
  width: 290px;
}
