@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Simonetta:wght@900&display=swap');

body {
  position: relative;
  width: 360px;
  height: 640px;
}

/* Header tag properties */

.header {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.title_lo {
  margin-top: 50px;
  margin-left: 50px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

/* logo color and decoration */

.logo {
  color: #6070ff;
  text-decoration: none;
}

.logo:hover {
  color: blueviolet;
}

.fas {
  font-size: 20px;
  margin-left: 200px;
}

.fas:hover {
  color: #6070ff;
}

/* section */

.content-name {
  background-image: url('./src-image/header-shapes-mobile@2x.svg');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #dfe1e6;
  border-bottom-left-radius: 20px;
  border-top: none;
  border-right: none;
}

.my_name {
  width: 310px;
  padding-left: 24px;
  padding-top: 62px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.my_details {
  width: 97%;
  display: flex;
  height: 115px;
  flex-direction: column;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-left: 10px;
}

.my-d {
  margin-left: 20px;
}

.more_det {
  padding-left: 23px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin: 1px 8px;
}

.media_icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  gap: 15px;
  left: 1px;
}

.twitter {
  left: 6.4%;
  right: 88.27%;
  top: 77.81%;
  bottom: 18.88%;
}

.medium {
  left: 27.47%;
  right: 67.2%;
  top: 78.15%;
  bottom: 19.21%;
}

.github {
  left: 38.13%;
  right: 57.07%;
  top: 77.81%;
  bottom: 18.87%;
}

.vact {
  left: 48%;
  right: 48.22%;
  top: 77.81%;
  bottom: 18.87%;
}

.works-cards {
  display: grid;
  grid-template-rows: auto;
  justify-content: space-evenly;
}

.work-card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 87%;
  height: 600px;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin-top: 90px;
  margin-left: 10%;
}

.work-card2 {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  margin-top: 775px;
}

.work-card3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  margin-top: 1456px;
  width: 91%;
}

.work-card4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: static;
  margin-top: 1456px;
}

.work_img {
  background-image: url(src-image/Snapshoot-Portfolio.png);
  background-repeat: no-repeat;
  width: 351px;
  height: 216px;
}

.name-pro {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 1px;
  color: #172b4d;
}

.work_name2 {
  display: flex;
  flex-direction: row;
  height: 40px;
  list-style-type: circle;
  gap: 20px;
  padding-left: 10px;
}

.work-detail {
  display: flex;
  flex-direction: row;
  margin-left: -32px;
  gap: 20px;
}

.canopy {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  list-style: none;
}

.dev {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.year {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.detail-cls {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.button-desc {
  display: flex;
  justify-content: start;
  grid-auto-flow: column;
  margin-left: -40px;
  list-style: none;
}

.htm {
  padding: 4px 12px;
  height: 20px;
  background: #ebebff;
  border-radius: 8px;
  color: #6070ff;
}

.htm:hover {
  color: blueviolet;
}

.css {
  padding: 4px 12px;
  height: 20px;
  background: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  margin-left: 10px;
}

.css:hover {
  color: blueviolet;
}

.javascript {
  padding: 4px 12px;
  height: 20px;
  background: #ebebff;
  border-radius: 8px;
  color: #7f8cff;
  margin-left: 10px;
}

.javascript:hover {
  color: blueviolet;
}

.see-project {
  width: 124px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background: white;
  color: #6d7bf8;
}

.see-project,
button:enabled {
  color: #6d7bf8;
}

button:active {
  background: #6070ff;
  color: white;
  border: 100px;
}

.work_img2 {
  background-image: url('src-image/SnapshootPortfolio1.png');
  background-repeat: no-repeat;
  width: 351px;
  height: 216px;
}

.work-n {
  line-height: 23px;
  font-size: 20px;
}

.work_img3 {
  background-image: url('src-image/Snapshoot-Portfolio2.png');
  background-repeat: no-repeat;
  width: 351px;
  height: 216px;
}

.work_img4 {
  background-image: url('src-image/Snapshoot\ -portfolio3.png');
  background-repeat: no-repeat;
  width: 351px;
  height: 216px;
}

.about {
  display: grid;
  grid-template-rows: auto;
  justify-content: space-evenly;
  padding: 16px;
  width: 383px;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-top-right-radius: 86px;
  margin-top: 126px;
  border-right: none;
}

.about-me {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  padding-top: 65px;
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  color: #172b4d;
}

.media_div2 {
  display: flex;
  flex-direction: column;
}

.media_u {
  grid-gap: 10px;
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  justify-content: start;
  margin: 1px -30px;
}

.twitter2 {
  display: flex;
  height: 21px;
  left: 0.04%;
  right: 0.03%;
  top: 0.02%;
  bottom: 0%;
}

.flex-botu {
  width: 150px;
  height: 48px;
  background-color: white;
  border: 1px solid #6070ff;
  border-radius: 8px;
  flex: none;
  flex-grow: 0;
  margin-top: 25px;
}

.more_det1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 10px;
}

.flex-botu:hover {
  background: rgb(150, 135, 247);
  color: white;
}

.border-lang {
  right: 103px;
  margin-left: -34px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
  list-style: none;
  margin-top: 80px;
  margin-bottom: 60px;
}

.vector-1 {
  /* Vector */

  position: absolute;
  margin-left: 7em;
  margin-top: 0.05px;
}

.arrow-down {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.lang-img {
  display: flex;
  flex-direction: column;
  text-align: start;
  list-style: none;
  margin-left: -43px;
}

.js-icon {
  display: flex;
  position: static;
  width: 303px;
  height: 66.72px;
  left: 12px;
  top: 12px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 12px 1px;
  text-decoration: none;
  align-items: center;
  gap: 15px;
}

.html-icon {
  display: flex;
  position: static;
  width: 303px;
  height: 66.72px;
  left: 12px;
  top: 90.72px;
  background-color: #f7f7f9;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 12px 1px;
  text-decoration: none;
  align-items: center;
  gap: 15px;
}

.css-icon {
  /* Frame 11 */

  position: static;
  display: flex;
  width: 303px;
  height: 66.72px;
  left: 12px;
  top: 169.43px;

  /* Neutrals/N10 */

  background: #f7f7f9;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  flex-grow: 1;
  margin: 12px 1px;
  text-decoration: none;
  align-items: center;
  gap: 15px;
}

.fr-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-left: -33px;
  margin-top: 40px;
  list-style: none;
}

.border-frem {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #000;
  height: 80px;
}

.border-skill {
  display: flex;
  height: 80px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #000;
  border: 1px #dfe1e6;
  border-style: solid none;
}

.vector-2 {
  position: absolute;
  margin-left: 12em;
}

.vector-3 {
  position: absolute;
  margin-left: 12em;
}

.arrow-right {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}

.form-cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

form {
  margin: 0px auto;
  width: 500px;
  padding: 1em;

  border: 1 solid #ccc;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: 0.5em;
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}
